.ButtonList {
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    width: 100px;
    /* padding: 10px; */
    /* margin: 10px; */
    font-weight: bold;
    text-align: center;
    background-color: #a3d2ca;
    box-shadow: 0 2px 2px gray;
    border: 2px solid #eee;
    margin-left: 60%;
    border-radius: 12px;
    /* padding: 10px; */
}

.ButtonList:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.ButtonList:disabled{
    color: #ccc;
    cursor: not-allowed;
}
.ButtonList:hover{
    /* margin-left: 60%; */
    background-color: gray ;
}
.ButtonList:active{
    background-color: gray ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}