.Auth{
    margin:0px auto;
    width: 100%;
    display: block;
   
    text-align: center;
    

}
.Auth123{
    background-image: url('../../assets/images/medicines.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* height: 1000px; */
    width: 100%;
    top: 0;
}

.Inner{
    height: 600px;
    /* width: auto; */
    border-top: 100px;
    /* background-image: linear-gradient(to right, rgb(28, 195, 236) ,#ffffff ); */
    /* padding : 20px; */
    align-content: center;
    background-color: #a3d2ca;
    box-shadow: 0 2px 3px gray;
    border: 10px solid #eee;
    padding: 10px;
    
    box-sizing: border-box;
    justify-content: center;

}

.Logo{
    /* background-color: black; */
    height: 30px;

    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* border-radius: 5px; */
}
form{
    margin-top: 200px;
}
.Img{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    margin-top: 100px;
}
.Input{
    display: block;
}

@media(min-width:600px){
    .Auth{
        width: 500px;
    }
}

.Contactus{
    width: 100%;
    height: 270x;
    overflow: visible;
    text-align: center;
    background-color: #056676;
}
.Phone{
width: 100px;
height: 200px;
overflow: visible;
display: flex;
flex-direction: column;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.DivContact{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}