.Photo {
    width: 100%;
    height: 500px;
    overflow: visible;
    background-image: url('../../assets/images/medicines2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
.ImgDiv{
    /* width: 200px;
    height: 100px; */
    /* padding: 20px; */
    display: flex;
    align-items: center;
    margin-left: 75%;
    padding: 10% 0;
    color: white;
    font-size: xx-large;
}
.About{
    height: 230px;
    background-color: #5eaaa8 ;
    text-align: center;
}

.Contactus{
        width: 100%;
        height: 290px;
        overflow: visible;
        background-color: #056676;
        text-align: center;
}
.Phone{
    width: 100px;
    height: 100px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
}
.DivContact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}